.page {
  background-color: var(--form-background-color);
  max-width: 500px;
  width: 528px;
  border-radius: var(--border-radius);
  -webkit-box-shadow: -6px -27px 52px 3px rgba(230, 227, 230, 0.58);
  -moz-box-shadow: -6px -27px 52px 3px rgba(230, 227, 230, 0.58);
  box-shadow: 24px 36px 64px -14px #4d4d4d26;
  /* height: 654px; */
  border: 2px solid #f7f7f7;
}

.img {
  border-radius: var(--border-radius-img);
  width: 120px;
  height: 120px;
}
.heading {
  color: var(--heading1-color);
}
input {
  width: 400px;
  height: 40px;
  border: 1.5px solid var(--border-color);
  border-radius: var(--border-radius);
}
.spanText {
  color: var(--border-color);
}
.footerSpan {
  text-decoration: underline;
  color:var(--black-color)
}
